.logo {
    font-weight: 800;
    color: #595959;
}
.search {
    position: relative;
    input {
        border-radius: 10rem;
    }
    button {
        position: absolute;
        right: 0;
        border-radius: 15rem;
    }
}
.top-menu {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    li{

        padding: 1.2rem 1rem 1.2rem 0rem ;
    }
}
.cart-menu{
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    color: #595959;
}
